<template name="singlePropertyTermSheet">

  {{> termSheetDashboard}}

  <div class="red-break-term-sheet"></div>

    {{> termSheetInputs}}

    {{> termSheetOutputs}}

    {{> termSheetReturns}}

  <div class="red-break-term-sheet"></div>

  {{> equityInvestorModal}}

</template>



<template name="termSheetButton">
  <div class="flex-white-div-term-sheet-button">
    <div class="two-rem-spacer"></div>
    <button id="add-term-sheet-button" class="btn" style="display:block;margin:auto;">Add Term Sheet</button>
    <div class="two-rem-spacer"></div>
  </div>
  <div class="red-break-term-sheet-button"></div>
</template>


<template name="termSheetInputs">
  {{#each termSheet}}
  <div class="flex-white-div-inputs">
    <div class="container">
      <div class="row">
        <h3 style="text-align:center;">Inputs</h3>
        <div class="one-rem-spacer"></div>
        <div class="term-sheet-input input-field col s4">
          {{#if editingTotalPrice}}
          <h4>Total Price</h4>
          <input id="total-price" type="text" value="{{totalPrice}}" required>
          {{else}}
          <div class="term-sheet-item" id="total-price-div">
            <h4>Total Price</h4>
            <p class="flow-text">${{totalPrice}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingDownPayment}}
          <h4>Down Payment</h4>
          <input id="down-payment" type="text" value="{{downPayment}}" required>
          {{else}}
          <div class="term-sheet-item" id="down-payment-div">
            <h4>Down Payment</h4>
            <p class="flow-text">{{downPayment}}%</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingClosingRepair}}
          <h4>Closing &#38; Repair</h4>
          <input id="closing-repair" type="text" value={{closingRepair}} required>
          {{else}}
          <div class="term-sheet-item" id="closing-repair-div">
            <h4>Closing &#38; Repair</h4>
            <p class="flow-text">${{closingRepair}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingAPR}}
          <h4>APR</h4>
          <input id="apr" type="text" value={{apr}} required>
          {{else}}
          <div class="term-sheet-item" id="apr-div">
            <h4>APR</h4>
            <p class="flow-text">{{apr}}%</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingTaxes}}
          <h4>Taxes</h4>
          <input id="taxes" type="text" value={{taxes}} required>
          {{else}}
          <div class="term-sheet-item" id="taxes-div">
            <h4>Taxes</h4>
            <p class="flow-text">${{taxes}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingHOA}}
          <h4>HOA</h4>
          <input id="hoa" type="text" value={{hoa}} required>
          {{else}}
          <div class="term-sheet-item" id="hoa-div">
            <h4>HOA</h4>
            <p class="flow-text">${{hoa}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingInsurance}}
          <h4>Insurance</h4>
          <input id="insurance" type="text" value={{insurance}} required>
          {{else}}
          <div class="term-sheet-item" id="insurance-div">
            <h4>Insurance</h4>
            <p class="flow-text">${{insurance}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingRentPrice}}
          <h4>Rent Price</h4>
          <input id="rent-price" type="text" value={{rentPrice}} required>
          {{else}}
          <div class="term-sheet-item" id="rent-price-div">
            <h4>Rent Price</h4>
            <p class="flow-text">${{rentPrice}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingSquareFootage}}
          <h4>Square Footage</h4>
          <input id="square-footage" type="text" value={{squareFootage}} required>
          {{else}}
          <div class="term-sheet-item" id="square-footage-div">
            <h4>Square Footage</h4>
            <p class="flow-text">{{squareFootage}}</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingEquitySold}}
          <h4>Equity Being Sold</h4>
          <input id="equity-sold" type="text" value={{equitySold}} required>
          {{else}}
          <div class="term-sheet-item" id="equity-sold-div">
            <h4>Equity Being Sold</h4>
            <p class="flow-text">{{equitySold}}%</p>
          </div>
          {{/if}}
        </div>

        <div class="term-sheet-input input-field col s4">
          {{#if editingPercentCapitalNeeded}}
          <h4>Capital Needed</h4>
          <input id="percent-capital-needed" type="text" value={{percentCapitalNeeded}} required>
          {{else}}
          <div class="term-sheet-item" id="percent-capital-needed-div">
            <h4>Capital Needed</h4>
            <p class="flow-text">{{percentCapitalNeeded}}%</p>
          </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>
  {{/each}}

  <button class="btn" id="term-sheet-submit-inputs" style="margin:auto;display:block;">Submit Inputs</button>
  <div class="three-rem-spacer"></div>

</template>


<template name="termSheetOutputs">
  {{#each termSheet}}
  <div class="flex-white-div-outputs">
    <div class="container">
      <div class="row">
        <h3 style="text-align:center;">Outputs</h3>
        <div class="one-rem-spacer"></div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Down Payment Amount</h4>
            <p class="flow-text">${{downPaymentAmount}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Cost of Additional Financing</h4>
            <p class="flow-text">${{additionalFinancing}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Total Investment</h4>
            <p class="flow-text">${{totalInvestment}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Monthly Mortgate Expense</h4>
            <p class="flow-text">${{monthlyMortgageExpense}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Monthly Tax Average</h4>
            <p class="flow-text">${{monthlyTaxAverage}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Monthly Operating Expenses</h4>
            <p class="flow-text">${{operatingExpenses}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Reserve (5%)</h4>
            <p class="flow-text">${{reserve}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Monthly Cost of Ownership</h4>
            <p class="flow-text">${{monthlyCostOfOwnership}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Cashflow Rented</h4>
            <p class="flow-text">${{cashflowRented}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Cashflow Occupied</h4>
            <p class="flow-text">${{cashflowOccupied}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Cashflow Unoccupied</h4>
            <p class="flow-text">${{cashflowUnoccupied}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>After Tax (with Renters)</h4>
            <p class="flow-text">${{afterTaxWithRenters}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>After Tax (Unoccupied)</h4>
            <p class="flow-text">${{afterTaxUnoccupied}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Free Cash Flow</h4>
            <p class="flow-text">${{freeCashflow}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</template>


<template name="termSheetReturns">
  {{#each termSheet}}
  <div class="flex-white-div-returns">
    <div class="container">
      <div class="row">
        <h3 style="text-align:center;">Returns</h3>
        <div class="one-rem-spacer"></div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual Revenue</h4>
            <p class="flow-text">${{annualRevenue}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual Cost</h4>
            <p class="flow-text">${{annualCost}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual Profit</h4>
            <p class="flow-text">${{annualProfit}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual Profit (After Tax)</h4>
            <p class="flow-text">${{annualProfitAfterTax}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual ROI (Before Tax)</h4>
            <p class="flow-text">{{annualROIBeforeTax}}%</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual ROI (After Tax)</h4>
            <p class="flow-text">{{annualROIAfterTax}}%</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Annual Operating Expense</h4>
            <p class="flow-text">${{annualOperatingExpense}}</p>
          </div>
        </div>
        <div class="term-sheet-input input-field col s4">
          <div class="term-sheet-item">
            <h4>Net Operating Income</h4>
            <p class="flow-text">${{netOperatingIncome}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</template>



<template name="termSheetDashboard">
  <div class="flex-white-div-term-sheet term-sheet-dashboard">
    <div class="three-rem-spacer"></div>
    <div class="container">
      <div class="row z-depth-1" style="border-radius:5px;">
        <div class="col l4 m4 s12">
          <div class="row">
            <div class="col s12">
              <button class="btn modal-trigger" style="display:block;margin:1rem auto 0rem auto;">Icarus Numbers</button>
            </div>
            <div class="col s12">
              <button class="btn modal-trigger" style="display:block;margin:1rem auto 0rem auto;" href="#equity-investor-modal">Investor Numbers</button>
            </div>
          </div>
        </div>
        <div class="col l4 m4 s12">
          <div class="row">
            <div class="col s12">
              <h4>Second thing</h4>
              <p>two</p>
            </div>
          </div>
        </div>
        <div class="col l4 m4 s12">
          <div class="row">
            <div class="col s12">
              <h4>Third thing</h4>
              <p>three</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <ul class="tabs">
          <li class="tab col s2"><a id="input-tab" href="">Inputs</a></li>
          <li class="tab col s2"><a id="output-tab" href="">Outputs</a></li>
          <li class="tab col s2"><a id="returns-tab" href="">Returns</a></li>
          <li class="tab col s2"><a id="additional-tab" href="">Additional</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
