<template name="analytics">
  <div class="analytics-background">
    <div class="container">
      <div class="two-rem-spacer"></div>
      <button class="btn" id="update-data-button" style="display:block;margin:auto;">Update Data</button>
      <div class="two-rem-spacer"></div>
      <div class="row">
        {{> assetAllocation}}
        {{> returnOnInvestment}}
        {{> analyticsTimeline}}
      </div>
    </div>
    <div class="five-rem-spacer"></div>
  </div>
  <div class="red-break"></div>
</template>




<template name="returnOnInvestment">
  <div class="col s12 m6 l6">
    <div class="card analytics-card">
      <div class="card-content">
        <div class="row">
          <h2>Return on Investment</h2>

          <div class="col s12 m6 l6">
            <div class="roi-box tooltipped" data-position="top" data-tooltip="Total Asset Appreciation (%)">
              <p class="flow-text">{{totalAssetAppreciationPercent}}%</p>
            </div>
            <div class="roi-box tooltipped" data-position="top" data-tooltip="Total Asset Appreciation ($)">
              <p class="flow-text">${{totalAssetAppreciation}}</p>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="roi-box tooltipped" data-position="top" data-tooltip="Average Monthly Rental Returns">
              <p class="flow-text">$0</p>
            </div>
            <div class="roi-box tooltipped" data-position="top" data-tooltip="Average Monthly Loan Returns">
              <p class="flow-text">$0</p>
            </div>
          </div>
        </div>






      </div>

      <div class="row">
        <a class="col m6 l6" href="#">Check price on Zillow</a>
        <a class="col m6 l6" href='#'>This is a link</a>
      </div>
    </div>
  </div>
</template>

<template name="assetAllocation">
  <div class="col s12 m6 l6">
    <div class="card analytics-card">
      <div class="card-content">
        <h2>Asset Allocation</h2>
        <div class="asset-allocation-data">
          <div class="row">
            <div class="col s12 m6 l6">
              <h3>Percent </h3><p>{{percentage}}%</p>
            </div>
            <div class="col s12 m6 l6">
              <h3>Total </h3><p>${{total}}</p>
            </div>
          </div>
        </div>
        <div class="one-rem-spacer"></div>
        <div class="analytics-chart" id="analytics-asset-allocation"></div>
      </div>
      <div class="row">
        <a class="col m6 l6" href="#">This is a link</a>
        <a class="col m6 l6" href='#'>This is a link</a>
      </div>
    </div>
  </div>
</template>


<template name="analyticsTimeline">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card analytics-card">
        <div class="card-content">
          <h2>Return Over Time</h2>
          <p>Scroll-over-able return over time, scaled</p>
          <div id="analytics-timeline"></div>
        </div>
        <div class="row">
          <a class="col m6 l6" href="#">This is a link</a>
          <a class="col m6 l6" href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>
</template>
