<template name="home">
	{{> firstPane}}
	<div class="white-break"></div>
		<div class="row flex-red-div">
			<div class="three-rem-spacer"></div>
			<div class="container">
				<div class="row">
					<div class="col s6 m3 l3">
						<p class="stats-over-red flow-text">12.4%</p>
						<div class="one-rem-spacer"></div>
						<p class="stats-over-red-subtitle">Average investor return</p>
					</div>
					<div class="col s6 m3 l3">
						<p class="stats-over-red flow-text">7.8%</p>
						<div class="one-rem-spacer"></div>
						<p class="stats-over-red-subtitle">Average lender return</p>
					</div>
					<div class="col s12 m6 l6">
						<p class="stats-over-red-large flow-text">${{investedCapital}}</p>
						<div class="one-rem-spacer"></div>
						<p class="stats-over-red-subtitle">Total returns to investors</p>
					</div>
				</div>
			</div>
			<div class="two-rem-spacer"></div>
		</div>
	<div class="white-break"></div>
		{{> secondPane}}
	<div class="red-break"></div>
		<div class="row flex-white-div">
			<div class="three-rem-spacer"></div>
			<h2 id='homepage-map-header'>Properties</h2>
			{{> introductionMap}}
		</div>
	<div class="red-break"></div>
		{{> thirdPane}}
	<div class="red-break"></div>
</template>


<template name='firstPane'>
	<div class="homepage-background-one">
		<div class="container">
			<div class="row">
				<div class="col offset-m3 offset-l3 s12 m6 l6">
					<div class="card intro-card">
						<div class="card-content">
							<h2>Building Passive Income</h2>
							<p>Icarus Investment Group, LLC explores many different ways of building passive income for people, mainly through real estate investment cash flow positive properties that yield better than a 10% cash on cash return to investors.</p>
						</div>
						<div class="row">
							<a class="col m6 l6" href="#">This is a link</a>
							<a class="col m6 l6" href='#'>This is a link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>



<template name='secondPane'>
	<div class="homepage-background-two">
		<div class="container">
			<div class="row">
				<div class="five-rem-spacer"></div>
				<div class="col s12 m4 l4">
					<div class="card res-com-rental">
						<div class="card-image">
							<i class="fa fa-home"></i>
						</div>
						<div class="card-content">
							<h2>Residential</h2>
							<p>Icarus Investment Group is a one stop shop for investors. Our specialty is buying distressed condos in short sales, auctions, and foreclosures. We fix the unit up, get it rented, and manage the property.</p>
							</div>
							<div class="row">
								<a class="col m6 l6" href="#">This is a link</a>
								<a class="col m6 l6" href='#'>This is a link</a>
							</div>
						</div>
					</div>
					<div class="col s12 m4 l4">
						<div class="card res-com-rental">
							<div class="card-image">
								<i class="fa fa-building"></i>
							</div>
							<div class="card-content">
								<h2>Commercial</h2>
								<p>Icarus Investment Group also purchases commercial real estate, such as apartment buildings.</p>
							</div>
							<div class="row">
								<a class="col m6 l6" href="#">This is a link</a>
								<a class="col m6 l6" href='#'>This is a link</a>
							</div>
						</div>
					</div>
					<div class="col s12 m4 l4 ">
						<div class="card res-com-rental">
							<div class="card-image">
								{{> forRent}}
							</div>
							<div class="card-content">
								<h2>Rental</h2>
								<p>Icarus Investment Group specializes in buying rental properties that produce a positive cashflow above 10% and targets markets that have low costs to buy, but high rental costs.</p>
							</div>
							<div class="row">
								<a class="col m6 l6" href="#">This is a link</a>
								<a class="col m6 l6" href='#'>This is a link</a>
							</div>
						</div>
					</div>
				</div>
				<div class="five-rem-spacer"></div>
			</div>
		</div>
</template>


<template name='thirdPane'>
	<div class="homepage-background-three">
		<div class="container">
			<div class="row">
				<div class="four-rem-spacer"></div>
				<div class="col offset-m1 offset-l1 s12 m10 l10">
					<div class="card contact-card">
						<div class="card-content">
							{{> contactPageLogo}}
							<div class="two-rem-spacer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="four-rem-spacer"></div>
	</div>
</template>


<template name='forRent'>
	<svg class="for-rent-svg" width="1165px" height="1144px" viewBox="0 0 1165 1144" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		<!-- Generator: Sketch 3.2.1 (9977) - http://www.bohemiancoding.com/sketch -->
		<title>for_rent</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			<rect id="Rectangle-1" stroke="#979797" fill="#FFFFFF" sketch:type="MSShapeGroup" x="1" y="275" width="1163" height="868"></rect>
			<rect id="Rectangle-2" stroke="#979797" fill="#D1122B" sketch:type="MSShapeGroup" x="32" y="301" width="1111" height="816"></rect>
			<rect id="Rectangle-3" stroke="#979797" fill="#FFFFFF" sketch:type="MSShapeGroup" x="59" y="329" width="1057" height="761"></rect>
			<rect id="Rectangle-4" stroke="#979797" fill="#D1122B" sketch:type="MSShapeGroup" x="88" y="360" width="1000" height="700"></rect>
			<text id="FOR" sketch:type="MSTextLayer" font-family="Arial" font-size="350" font-weight="bold" fill="#FFFFFF">
				<tspan x="218" y="677">FOR</tspan>
			</text>
			<text id="RENT" sketch:type="MSTextLayer" font-family="Arial" font-size="350" font-weight="bold" fill="#FFFFFF">
				<tspan x="111" y="975">RENT</tspan>
			</text>
		</g>
	</svg>
</template>


<template name='introductionMap'>
	<div class="homepage-concentration-map" id="concentration-map"></div>
</template>
