<template name="calculatorTable">
  <div class="calculator-background">
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3">
        {{#each calculator}}
        <div class="card calculator-card">
          <div class="card-content">
            <h2 style="text-align:center;">Investment Calculator</h2>
            <p>A brief explanation of how ROI and CAP rate are calculated...</p>
            <table class="">
              <thead>
                <tr>
                  <th>Input</th>
                  <th>Amount</th>
                  <th><i class="fa fa-lock"></i> / <i class="fa fa-unlock"></i></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Purchase Price</td>
                  {{#if editingTotalPriceCalc}}
                  <input id="purchase-price" type="text" value="{{purchasePrice}}">
                  {{else}}
                  <td class="calculator-input">{{purchasePrice}}</td>
                  {{/if}}
                  {{#if editingTotalPriceCalc}}
                  <td><i class="fa fa-unlock"></i></td>
                  {{else}}
                  <td><i class="fa fa-lock"></i></td>
                  {{/if}}
                </tr>
                <tr>
                  <td>Closing &amp; Repair</td>
                  {{#if editingClosingRepairCalc}}
                  <input type="text" id="closing-repair">
                  {{else}}

                  {{/if}}
                </tr>
                <tr>
                  <td>Monthly Income <i class="fa fa-info-circle tooltipped" data-position="top" data-tooltip="Net income, not gross"></i></td>
                  <td class="calculator-input"></td>
                  <td></td>
                </tr>
                <tr>
                  <td>CAP Rate</td>
                  <td class="calculator-input"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name='calculatorBox'>
  <div class="calculator-background">
    <div class="container">
      <div class="row">
        <div class="col offset-m2 offset-l2 s12 m8 l8">
          {{#each calculator}}
          <div class="card calculator-card">
            <div class="card-content">
              <h2>Investment Calculator</h2>
              <p>This is a brief explanation of how ROI and CAP rate are calculated.</p>
              <div class="one-rem-spacer"></div>
              <div class="row">
                <div class="col m6 l6">
                  <div class="calculator-item" id="purchase-price">
                    <h3>Purchase Price</h3>
                    {{#if editingPP}}
                    <input type="text" value={{purchasePrice}} id="purchase-price">
                    {{else}}
                    <p>${{purchasePrice}}</p>
                    {{/if}}
                  </div>
                </div>
                <div class="col m6 l6">
                  <div class="calculator-item" id="closing-repair">
                    <h3>Closing &amp; Repair</h3>
                    {{#if editingCR}}
                    <input type="text" value="{{closingRepair}}" id="closing-repair">
                    {{else}}
                    <p>${{closingRepair}}</p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col m6 l6">
                  <div class="calculator-item" id="monthly-income">
                    <h3>Monthly Income <i class="fa fa-info-circle tooltipped" data-position="top" data-tooltip="Net income, not gross"></i></h3>
                    {{#if editingMI}}
                    <input type="text" value="{{monthlyIncome}}" id="monthly-income">
                    {{else}}
                    <p>${{monthlyIncome}}</p>
                    {{/if}}
                  </div>
                </div>
                <div class="col m6 l6">
                  <div class="calculator-item" id="cap-rate">
                    <h3>CAP Rate</h3>
                    {{#if editingCAP}}
                    <input type="text" value="{{capRate}}" id="cap-rate">
                    {{else}}
                    <p>{{capRate}}%</p>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <a class="col m6 l6" href="#">This is a link</a>
              <a class="col m6 l6" href='#'>This is a link</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
