<template name='calculator'>
  <div class="calculator-background">
    <div class="container">
      <div class="row">
        <div class="col offset-m2 offset-l2 s12 m8 l8">
          {{#each calculator}}
          <div class="card calculator-card">
            <div class="card-content">
              <h2>Investment Calculator</h2>
              <p>This is a brief explanation of how ROI and CAP rate are calculated.</p>
              <div class="row">
                <div class="col m6 l6">
                  {{#if editingTotalPriceCalc}}
                  <h4>Purchase Price</h4>
                  <input id="purchase-price" type="text" value="{{purchasePrice}}" required>
                  {{else}}
                  <div class="calculator-item z-depth-1" id="purchase-price-div">
                    <h4>Purchase Price</h4>
                    <p class="flow-text">${{purchasePrice}}</p>
                  </div>
                  {{/if}}
                </div>

                <div class="col m6 l6">
                  {{#if editingClosingRepairCalc}}
                  <h4>Closing &#38; Repair</h4>
                  <input id="closing-repair" type="text" value="{{closingRepair}}" required>
                  {{else}}
                  <div class="calculator-item z-depth-1" id="total-price-div">
                    <h4>Closing &#38; Repair</h4>
                    <p class="flow-text">${{closingRepair}}</p>
                  </div>
                  {{/if}}
                </div>

                <div class="col m6 l6">
                  {{#if editingMonthlyIncomeCalc}}
                  <h4>Monthly Income</h4>
                  <input id="monthly-income" type="text" value="{{monthlyIncome}}" required>
                  {{else}}
                  <div class="calculator-item z-depth-1" id="monthly-income-div">
                    <h4>Monthly Income</h4>
                    <p class="flow-text">${{monthlyIncome}}</p>
                  </div>
                  {{/if}}
                </div>

                <div class="col m6 l6">
                  {{#if editingCAPRateCalc}}
                  <h4>CAP Rate</h4>
                  <input id="cap-rate" type="text" value="{{capRate}}" required>
                  {{else}}
                  <div class="calculator-item z-depth-1" id="cap-rate-div">
                    <h4>CAP Rate</h4>
                    <p class="flow-text">${{capRate}}</p>
                  </div>
                  {{/if}}
                </div>

              </div>
            </div>
            <div class="row">
              <a class="col m6 l6" href="#">This is a link</a>
              <a class="col m6 l6" href='#'>This is a link</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>



<!--
<template name="calculatorOutput">
  <div class="row">
    <div class="col offset-m2 offset-l2 s12 m8 l8">
      <div class="card calculator-output-card">
        <div class="card-content">
          <h2>Output</h2>
          <div class="row">
            <div class="col m6 l6">
              <h3>Purchase Price: \${{purchasePrice}}</h3>
              <h3>Rehab Cost: \${{rehabCost}}</h3>
            </div>
            <div class="col m6 l6">
              <h3>Monthly Income: \${{monthlyIncome}}</h3>
              <h3>CAP Rate: {{capRate}}%</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <a class="col m6 l6" href="#">This is a link</a>
          <a class="col m6 l6" href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>
</template>
 -->
