<template name='calculator'>
  <div class="calculator">
    <div class="container">
      <div class="row">
        <div class="col offset-m2 offset-l2 s12 m8 l8">
          <div class="card calculator-card">
            <div class="card-content">
              <h2>Investment Calculator</h2>
              <p>This is a brief explanation of how ROI and CAP rate are calculated.</p>
              <div class="row">
                <div class="col m6 l6">
                  <label for="purchasePrice">Purchase Price</label><br>
                  $<input type="number" name="purchasePrice" id="purchasePrice" value="{{purchasePrice}}"><br>
                  <label for="rehabCost">Rehab Cost</label><br>
                  $<input type="number" name="rehabCost" id="rehabCost" placeholder="{{rehabCost}}"><br>
                </div>
                <div class="col m6 l6">
                  <label for="monthlyIncome">Monthly Income</label><br>
                  $<input type="number" name="monthlyIncome" id="monthlyIncome" value="{{monthlyIncome}}"><br>
                  <label for="capRate">CAP Rate</label><br>
                  <input type="number" name="capRate" id="capRate" value="{{capRate}}">%<br>
                </div>
              </div>
            </div>
            <div class="row">
              <a class="col m6 l6" href="#">This is a link</a>
              <a class="col m6 l6" href='#'>This is a link</a>
            </div>
          </div>
        </div>
      </div>
      {{> calculatorOutput}}
    </div>
  </div>
</template>




<template name="calculatorOutput">
  <div class="row">
    <div class="col offset-m2 offset-l2 s12 m8 l8">
      <div class="card calculator-output-card">
        <div class="card-content">
          <h2>Output</h2>
          <div class="row">
            <div class="col m6 l6">
              <h3>Purchase Price: ${{purchasePrice}}</h3>
              <h3>Rehab Cost: ${{rehabCost}}</h3>
            </div>
            <div class="col m6 l6">
              <h3>Monthly Income: ${{monthlyIncome}}</h3>
              <h3>CAP Rate: {{capRate}}%</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <a class="col m6 l6" href="#">This is a link</a>
          <a class="col m6 l6" href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>
</template>
