<template name="equityInvestorModal">
  <div id="equity-investor-modal" class="modal">
    <h4>Equity Investor</h4>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="row">
          <div class="col s12">

            <div class="investor-modal-item">
              <h5>Total Price</h5>
              <p class="flow-text">${{totalPrice}}</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="row">
          <div class="col s12">

            <div class="investor-modal-item">
              <h5>Down Payment</h5>
              <p class="flow-text">{{downPaymentPercentage}}%</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="row">
          <div class="col s12">

            <div class="investor-modal-item">
              <h5>test</h5>
              <p class="flow-text">0%</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <a href="#" class="waves-effect btn-flat modal-close">Close</a>
  </div>
</template>
