
<template name="termSheetButton">
  {{#if termSheetActive}}
  <div class="flex-white-div-term-sheet-button">
    <div class="two-rem-spacer"></div>
    <button id="add-term-sheet-button" class="btn" style="display:block;margin:auto;">Add Term Sheet</button>
    <div class="two-rem-spacer"></div>
  </div>
  <div class="red-break-term-sheet-button"></div>
  {{/if}}
</template>

<template name="singlePropertyTermSheet">

  {{> termSheetButton}}

  <div class="flex-white-div-term-sheet">
    <div class="two-rem-spacer"></div>
    <div class="container">
      <h1 style="text-align:center;">Term Sheet</h1>
      <div class="two-rem-spacer"></div>
      <div class="row">
      {{#each termSheet}}

        <div class="input-field col s4">
          {{#if editing}}
          <input id="total-price" type="text" value="{{totalPrice}}" required>
          {{else}}
          <div class="term-sheet-item" id="total-price-div">
            <h4>Total Price</h4>
            <p class="flow-text" style="line-height:1;margin:0;">${{totalPrice}}</p>
          </div>
          {{/if}}
        </div>
        <div class="input-field col s4">
          <input id="down-payment" type="text" placeholder="Down Payment %" required>
        </div>
        <div class="input-field col s4">
          <input id="closing-repair" type="text" placeholder="Closing &#38; Repair" required>
        </div>

        <div class="input-field col s4">
          <input id="apr" type="text" placeholder="APR" required>
        </div>
        <div class="input-field col s4">
          <input id="taxes" type="text" placeholder="Taxes" required>
        </div>
        <div class="input-field col s4">
          <input id="hoa" type="text" placeholder="HOA" required>
        </div>

        <div class="input-field col s4">
          <input id="insurance" type="text" placeholder="Insurance" required>
        </div>
        <div class="input-field col s4">
          <input id="rent-price" type="text" placeholder="Rent Price" required>
        </div>
        <div class="input-field col s4">
          <input id="square-footage" type="text" placeholder="Square Footage" required>
        </div>

      {{/each}}
      </div>
    </div>
    <div class="five-rem-spacer"></div>
  </div>
  <div class="red-break-term-sheet"></div>
</template>
