<template name="singlePropertyTermSheet">
  {{> termSheetButton}}

  <div class="flex-white-div-term-sheet">
    <div class="two-rem-spacer"></div>
    <div class="container">
      <h1 style="text-align:center;">Term Sheet</h1>
      <hr>
      <div class="two-rem-spacer"></div>

      {{> termSheetInputs}}

      {{> termSheetOutputs}}

    </div>
    <div class="five-rem-spacer"></div>
  </div>
  <div class="red-break-term-sheet"></div>
</template>






<template name="termSheetButton">
  {{#if termSheetActive}}
  <div class="flex-white-div-term-sheet-button">
    <div class="two-rem-spacer"></div>
    <button id="add-term-sheet-button" class="btn" style="display:block;margin:auto;">Add Term Sheet</button>
    <div class="two-rem-spacer"></div>
  </div>
  <div class="red-break-term-sheet-button"></div>
  {{/if}}
</template>



<template name="termSheetInputs">
  {{#each termSheet}}
  <div class="row">
    <h3 style="text-align:center;">Inputs</h3>
    <div class="one-rem-spacer"></div>
    <div class="input-field col s4">
      {{#if editingTotalPrice}}
      <h4>Total Price</h4>
      <input id="total-price" type="text" value="{{totalPrice}}" required>
      {{else}}
      <div class="term-sheet-item" id="total-price-div">
        <h4>Total Price</h4>
        <p class="flow-text">${{totalPrice}}</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingDownPayment}}
      <h4>Down Payment</h4>
      <input id="down-payment" type="text" value="{{downPayment}}" required>
      {{else}}
      <div class="term-sheet-item" id="down-payment-div">
        <h4>Down Payment</h4>
        <p class="flow-text">{{downPayment}}%</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingClosingRepair}}
      <h4>Closing &#38; Repair</h4>
      <input id="closing-repair" type="text" value={{closingRepair}} required>
      {{else}}
      <div class="term-sheet-item" id="closing-repair-div">
        <h4>Closing &#38; Repair</h4>
        <p class="flow-text">${{closingRepair}}</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingAPR}}
      <h4>APR</h4>
      <input id="apr" type="text" value={{apr}} required>
      {{else}}
      <div class="term-sheet-item" id="apr-div">
        <h4>APR</h4>
        <p class="flow-text">{{apr}}%</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingTaxes}}
      <h4>Taxes</h4>
      <input id="taxes" type="text" value={{taxes}} required>
      {{else}}
      <div class="term-sheet-item" id="taxes-div">
        <h4>Taxes</h4>
        <p class="flow-text">${{taxes}}</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingHOA}}
      <h4>HOA</h4>
      <input id="hoa" type="text" value={{hoa}} required>
      {{else}}
      <div class="term-sheet-item" id="hoa-div">
        <h4>HOA</h4>
        <p class="flow-text">${{hoa}}</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingInsurance}}
      <h4>Insurance</h4>
      <input id="insurance" type="text" value={{insurance}} required>
      {{else}}
      <div class="term-sheet-item" id="insurance-div">
        <h4>Insurance</h4>
        <p class="flow-text">${{insurance}}</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingRentPrice}}
      <h4>Rent Price</h4>
      <input id="rent-price" type="text" value={{rentPrice}} required>
      {{else}}
      <div class="term-sheet-item" id="rent-price-div">
        <h4>Rent Price</h4>
        <p class="flow-text">${{rentPrice}}</p>
      </div>
      {{/if}}
    </div>

    <div class="input-field col s4">
      {{#if editingSquareFootage}}
      <h4>Square Footage</h4>
      <input id="square-footage" type="text" value={{squareFootage}} required>
      {{else}}
      <div class="term-sheet-item" id="square-footage-div">
        <h4>Square Footage</h4>
        <p class="flow-text">{{squareFootage}}</p>
      </div>
      {{/if}}
    </div>
  </div>
  {{/each}}
</template>






<template name="termSheetOutputs">
  {{#each termSheet}}
  <div class="row">
    <div class="two-rem-spacer"></div>
    <h3 style="text-align:center;">Outputs</h3>
    <div class="one-rem-spacer"></div>
    <div class="input-field col s4">
      <div class="term-sheet-item">
        <h4>Down Payment Amount</h4>
        <p class="flow-text">${{downPaymentAmount}}</p>
      </div>
    </div>
    <div class="input-field col s4">
      <div class="term-sheet-item">
        <h4>Cost of Additional Financing</h4>
        <p class="flow-text">${{additionalFinancing}}</p>
      </div>
    </div>
    <div class="input-field col s4">
      <div class="term-sheet-item">
        <h4>Total Investment</h4>
        <p class="flow-text">${{totalInvestment}}</p>
      </div>
    </div>
    <div class="input-field col s4">
      <div class="term-sheet-item">
        <h4>Monthly Mortgate Expense</h4>
        <p class="flow-text">${{monthlyMortgageExpense}}</p>
      </div>
    </div>
    <div class="input-field col s4">
      <div class="term-sheet-item">
        <h4>Monthly Tax Average</h4>
        <p class="flow-text">${{monthlyTaxAverage}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</template>
