// @import url(http://fonts.googleapis.com/css?family=Cinzel:400,700);

@icarus-red: #D1122B;
@icarus-grey: #797979;

.side-nav {
  margin-right: 10%;
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    margin-left: 10%;
  }
}

.lead {
  margin-top: 2rem;
}

 nav {
  background-color: @icarus-red;
}

/* Navbar hover over color */
nav ul li:hover, nav ul li.active {
background-color: lighten(@icarus-red, 10%);
}

/* Radio buttons color */
/* [type="radio"]:checked + label:after {
  border: 2px solid #ea454b;
  background-color: #ea454b;
} */

/* Easiest way to set background image to page */
/* body {
  background: url(/images/new_york.jpg) no-repeat center center fixed;
  background-size: cover;
} */

.introduction {
  height: 100vh;
  width: 100%;
  background: url(/background/houses.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.calculator {
  height: 100vh;
  width: 100%;
  background: url(/background/brick.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.contact-page {
  height: 100vh;
  width: 100%;
  background: url(/background/another_ny.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.home-statistics {
  height: 20rem;
  width: 100%;
  background-color: white;
}

.home-statistics-red {
  height: 20rem;
  width: 100%;
  background-color: @icarus-red;
}

.faq-section {
  height: 60rem;
  width: 100%;
  background-color: white;
}


.verbose-intro {
  height: 50rem;
  width: 100%;
  background: url(/background/more_houses.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.about-background {
  height: 50rem;
  width: 100%;
  background: url(/background/new_york.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.red-break {
  height: 0.5rem;
  width: 100%;
  background-color: @icarus-red;
}

.grey-break {
  height: 0.5rem;
  width: 100%;
  background-color: @icarus-grey;
}

.white-break {
  height: 0.5rem;
  width: 100%;
  background-color: white;
}

.navbar-logo {
  background-color: white;
  border-radius: 10px;
  padding: 0.25rem;
}

.card {
  background-color: rgba(256, 256, 256, 0.8);

  p {
    color: lighten(black, 20%);
    font-size: 1em;
  }
  input {
    color: lighten(black, 20%);
    font-size: 1em;
  }
  h2 {
    color: @icarus-red;
    font-size: 2em;
  }
  a {
    color: @icarus-red;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  h3 {
    color: lighten(black, 20%);
    font-size: 1.3em;
  }
}

.intro-card {
  margin-top: 50%;
}

.res-com-rental {
  margin-top: 50%;
}

.commercial-card {
  margin-top: 62%;
}

.calculator-card {
  margin-top: 25%;
}

.contact-card {
  margin-top: 10%;
}

.about-card {
  margin-top: 15%;
}

.card-image {
  i {
    margin-top: 10%;
    margin-left: 25%;
    font-size: 8em;
    color: @icarus-red;
  }
}

.for-rent-svg {
  max-width: 70%;
  max-height: 150px;
  margin-left: 10%;
}

.third-intro-image {
  height: 50rem;
  width: 100%;
  background: url(/background/ny-filtered.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

footer {
  p {
    color: lighten(black, 50%);
    text-align: right;
    margin-right: 10%;
  }
}

.faq-header {
  color: @icarus-red;
  text-align: center;
  margin: 4rem 0;
}

.contact-page-logo {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}
