@icarus-red: #D1122B;
@icarus-grey: #797979;

.side-nav {
  margin-right: 10%;
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    margin-left: 10%;
  }
}

.lead {
  margin-top: 2rem;
}

 nav {
  background-color: @icarus-red;
}

/* Navbar hover over color */
/* nav ul li:hover, nav ul li.active {
background-color: #ea454b;
} */

/* Radio buttons color */
/* [type="radio"]:checked + label:after {
  border: 2px solid #ea454b;
  background-color: #ea454b;
} */

/* Easiest way to set background image to page */
/* body {
  background: url(/images/new_york.jpg) no-repeat center center fixed;
  background-size: cover;
} */

.introduction {
  height: 100vh;
  width: 100%;
  background: url(/background/houses.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.home-statistics {
  height: 20rem;
  width: 100%;
  background-color: white;
}

.verbose-intro {
  height: 50rem;
  width: 100%;
  background: url(/background/more_houses.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.red-break {
  height: 0.5rem;
  width: 100%;
  background-color: @icarus-red;
}
