<template name='properties'>
  <div class="properties-background">
    <div class="five-rem-spacer"></div>
    {{>propertyPanel2}}
    <div class="two-rem-spacer"></div>
      <a class="modal-trigger" href="#modal1"><button id="add-property-button" name="add-property" class="btn">Add Property</button></a>
      {{> modal}}
    <div class="two-rem-spacer"></div>
  </div>
  <div class="red-break"></div>
  <div class="property-panel-two">
    <div id="property-map">d3 map</div>
  </div>
  <div class="red-break"></div>
</template>


<template name='propertyPanel2'>
  <div class="container">
    <div class="row">
      {{#each properties}}
      <div class="col s12 m6 l6">
        <div class="card property-card">
          <div class="card-content">
            <h2><a href="{{pathFor 'singleProperty'}}" style="text-decoration: none;">{{address}}</a></h2>
            <p>Purchase Price: ${{purchasePrice}}</p>
          </div>
          <div class="row">
            <a class="col m6 l6" href="#">This is a link</a>
            <a class="col m6 l6" href='#'>This is a link</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>

<template name='modal'>
  <div id="modal1" class="modal">
    <h4>New Property</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" required>
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" required>
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" required>
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" required>
            <label for="email">Email</label>
          </div>
        </div>
        <a href="" class="btn-flat modal-close">Agree</a>
      </form>
    </div>
  </div>
</template>
