<template name='properties'>
  <div class="properties-background">
    <div class="five-rem-spacer"></div>
    {{>propertyPanel2}}
    <div class="five-rem-spacer"></div>
  </div>
  <div class="red-break"></div>
  <div class="property-panel-two">
    <div id="property-map">d3 map</div>
  </div>
  <div class="red-break"></div>
</template>


<template name='propertyPanel2'>
  <div class="container">
    <div class="row">
      {{#each properties}}
      <div class="col s12 m6 l6">
        <div class="card property-card">
          <div class="card-content">
            <h2><a href="{{pathFor 'singleProperty'}}" style="text-decoration: none;">{{address}}</a></h2>
            <p>Purchase Price: ${{purchasePrice}}</p>
          </div>
          <div class="row">
            <a class="col m6 l6" href="#">This is a link</a>
            <a class="col m6 l6" href='#'>This is a link</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
